register {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 5%;
  width: 80%;
  justify-content: center;
  padding-top: 5%;
  width: 78%;
  border-radius: 10px;
  margin-left: 20px;
  background-color: #bfc7d9;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

@media screen and (max-width: 700px) {
  .register {
    display: flex;
    padding: 0%;
    height: max-content;
    flex-direction: column;
  }
}
#radio {
  display: -webkit-inline-box;
  flex-wrap: wrap;
  width: 250px;
  position: relative;
  bottom: 30%;
  /* right: 46px; */
}
#button {
  background-color: royalblue;
  color: whitesmoke;
  height: 50px;
  width: 250px;
  /* margin-left: 158px;
  margin-top: 50px; */
  position: relative;
  left: 4%;
  border-radius: 8px;
}

input {
  display: flex;
  padding: 4px;
  margin: 6px;
  height: 25px;
  width: 230px;
  border-radius: 8px;
}

label {
  margin: 8px;
  padding: 4px;
}

.table1{
    text-align: center;
    justify-content: center;
    color: red;
}
